%object{:width => "480", :height => "385"}
  %param{:name => "movie", :value => "http://www.youtube.com/v/#{params[:id]}?fs=1&amp;hl=en_US&amp;rel=0"}
  %param{:name => "allowFullScreen", :value => "true"}
  %param{:name => "allowscriptaccess", :value => "always"}
  %embed{:src => "http://www.youtube.com/v/#{params[:id]}?fs=1&amp;hl=en_US&amp;rel=0", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "480", :height => "385"}